<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mpg12.ase.umkc.facebook" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />


        <activity
            android:name=".register"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".addGrocery"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".createRecipe"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MyGroceries"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".recipe"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SearchRecipe"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".shareRecipe"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateNotificationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".updateRecipe"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".viewGroceryList"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".groceryStore"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ShoppingList"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".NotificationReceiverActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
